user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    sendfile on;
    server {
        listen 80 default_server;
        server_name _;

        location / {
            return 200 'Welcome to Nginx (Debian-based)! Managed by Ansible.';
        }
    }
}