Welcome to {{ ansible_hostname }}!

OS Family   : {{ ansible_os_family }}
Distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}
Architecture: {{ ansible_architecture }}

Date: {{ ansible_date_time.date }} {{ ansible_date_time.time }}
Managed by Ansible