# Apache Configuration for RedHat-based systems

ServerName {{ ansible_hostname }}
Listen 80

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot "/var/www/html"

    ErrorLog logs/error_log
    CustomLog logs/access_log combined
</VirtualHost>

<Directory "/var/www/html">
    AllowOverride None
    Require all granted
</Directory>

# Include any additional configuration files
IncludeOptional conf.d/*.conf